:root{
    --svn-red:#9a031e;
    --svn-red-active:#6b0014;
    --svn-grey:#737373;
    --svn-tranparency:#191919;
    --svn-white:#d9d9d9;
    --svn-black:#000000;
}

.bg-svn-red{background-color: var(--svn-red);}
.bg-svn-grey{background-color: var(--svn-grey);color:var(--svn-white);}
.bg-svn-white{background-color: var(--svn-white);}

.svn-sidenav .nav-pills{
    --bs-nav-pills-border-radius: 0 !important;
    --bs-nav-pills-link-active-bg: var(--svn-grey);
    --bs-nav-link-color:var(--svn-white);
    --bs-link-hover-color:var(--svn-grey);
}

.svn-sidenav{
    position:sticky;
    top: 0;
}

.svn-btn-toggle{
    --bs-btn-color: var(--svn-black);
    --bs-btn-bg: var(--svn-white);
    --bs-btn-border-color: var(--svn-grey);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--svn-red-active);
    --bs-btn-hover-border-color: var(--svn-red-active);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--svn-red-active);
    --bs-btn-active-border-color: var(--svn-red-active);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--svn-grey);
    --bs-btn-disabled-border-color: var(--svn-grey);
}

.svn-btn{
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--svn-red);
    --bs-btn-border-color: var(--svn-red);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--svn-red-active);
    --bs-btn-hover-border-color: var(--svn-red-active);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--svn-red-active);
    --bs-btn-active-border-color: var(--svn-red-active);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--svn-grey);
    --bs-btn-disabled-border-color: var(--svn-grey);
}

.login-cotainer{
    display: flex;
    height: 100vh;
    padding: 13vw;
    align-items: center;
}
.login-cotainer form{
    flex: 0 0 100%;
}
.login-image{
    background: url(https://images.pexels.com/photos/323705/pexels-photo-323705.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
}
.login-image div{
    flex: 0 0 100%;
    background-color: #ffffff94;
}

.w-20{
    width: 20%;
}
.w-80{
    width: 80%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.customer-management-user-profile .nav-link{
    color: rgb(255 255 255);
    background-color: var(--svn-grey);
}
.customer-management-user-profile .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #fff;
    background-color: var(--svn-red);
}
.customer-management-user-profile .tab-content{
    background: var(--svn-white);
}
#voice-cdrs-tab-pane th{
    vertical-align: middle;
    white-space: nowrap;
}

#svnAssignedSuccessModal .btn-close,#successSentModal .btn-close{
    position: absolute !important;
    right: 7px !important;
    top: 7px !important;
}
#svnAssignedSuccessModal i,#successSentModal i{
    font-size: 5rem !important;
}